{# Simple page navigation #}

{# @param pageInfo Pagination #}
{# https://craftcms.com/docs/5.x/reference/twig/tags.html#the-pageinfo-variable #}

{# Only show if there are more pages #}
{% if pageInfo.totalPages > 1 %}
    {# Don't apply prose classes to links #}

    {# This is an example of how controlling spacing, alignments etc. can get tricky in a responsive layout... #}

    {# Using 3 columns won't work on small screens #}
    <div class="not-prose mt-12 grid grid-cols-1 gap-4 sm:grid-cols-3">
        {# Give a little space between the links #}
        <div class="flex space-x-2">
            {# Don't show 'first page' link if it would be the same as 'Prev Page' #}
            {% if pageInfo.currentPage > 2 %}
                <div class="whitespace-nowrap">
                    &laquo; <a href="{{ pageInfo.firstUrl }}">{{ 'First Page'|t }}</a>
                </div>
            {% endif %}
            {% if pageInfo.prevUrl %}
                <div class="whitespace-nowrap">
                    &lsaquo; <a href="{{ pageInfo.prevUrl }}">{{ 'Previous Page'|t }}</a>
                </div>
            {% endif %}
        </div>

        {# Don't center content on small screens #}
        <div class="sm:flex sm:justify-center">
            {# Use translation with replacements. #}
            {# This is preferred, because different languages can have a different order of words. #}
            {{
                'Page {current} of {total}'|t({
                    current: pageInfo.currentPage,
                    total: pageInfo.totalPages
                })
            }}
        </div>

        {# Move content to the right on larger screens #}
        <div class="flex space-x-2 sm:justify-end">
            {% if pageInfo.nextUrl %}
                <div class="whitespace-nowrap">
                    <a href="{{ pageInfo.nextUrl }}">{{ 'Next Page'|t }} &rsaquo;</a>
                </div>
            {% endif %}

            {# Don't show 'last page' link if it would be the same as 'Last Page' #}
            {% if pageInfo.currentPage < pageInfo.totalPages - 1 %}
                <div class="whitespace-nowrap">
                    <a href="{{ pageInfo.lastUrl }}">{{ 'Last Page'|t }}</a> &raquo;
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
